$red: #C8442F;
$black: #443D37;
$gray: #CCC7BE;
$tan: #F4EEE4;


// Lure colors
$white: #FFFFFF;
$lure-blue: #23A9E4;
$font-grey: #313A44;
$background-grey: #F7F7F7;
$card-grey: #FEFEFE;
$menu-icons: #434247;
$border-dark: #313A44;
$light-grey: #DDDDDD;
$peep-cream: #F4EEE4;
$font-color: #443D37;

// MAIN COLORS
$blue: #23A9E4; // 24, 150, 224
// $red: #FF242F; // 255, 36, 47
$green: #0ECD84; // 14, 205, 132
$yellow: #FFFF0A; // 255, 255, 10
