.home {

  .react-table-view {
    margin: 0;
    font-size: 150%;
    font-weight: 300;
    line-height: 1.5;
  }

  .react-table-view table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #cbcbcb;
    empty-cells: show;
    color:#666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    width:100%;
  }

  .react-table-view table td {
    padding: 0.6em;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
  }
}
