
body {
  background-color: #F4EEE4;
  color: #443D37;
}
.home {

  h1 {
    font-family: HelveticaNeue-Light;
    color: #443D37;
  }

  img {
    width: 150px;
    height: 150px;
    border: 1px solid #443D37;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .hero {
    margin-top:55px;
  }



}
