.landing {

  // landing styles go here
  h1{
    font-size: 26px;
    padding: 0px 15px 0 15px;
  }

  p {
    font-size: 16px;
  }

  #hero {
    padding: 60px 15px 0 15px;
    text-align: center;
  }

  .description {
    padding: 25px 35px;
  }


}
