.experience-list {
  padding-top:30px;
  margin: 0;
  font-size: 150%;
  font-weight: 300;
  line-height: 1.5;

  ul {
    border-top: 1px solid #e0e0e0;
    list-style: none;
    padding: 0;
    color:#666;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    width:100%;
  }

  li {
    padding: 1.6em;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fff;
    cursor: pointer;
  }

  a, a:hover, a:visited {
    text-decoration: none;
    color: #333;
  }

  .left {
    float:left;
  }

  .right {
    float:right;
  }

}
