@import './../../styles/colors.scss';

.menu {
  margin-bottom: 0;

  .navbar {
    height: 50px;
    padding: 8px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar-landing {
    background-color: #fff;
  }

  a {
    color: $red;
  }

  .navbar-left {
    float: left;
    list-style: none;
  }
  .navbar-right {
    float: right;
    list-style: none;
  }

  .dropdown-left {
    position: relative;
  }

}
