.navbar {
  margin-bottom: 0;

  .navbar {
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }

  .navbar-left {
    float: left;
    list-style: none;
  }
  .navbar-right {
    float: right;
  }

}
