.react-table-view {
  margin: 0;
  font-size: 150%;
  font-weight: 300;
  line-height: 1.5;

  ul {
    list-style: none;
    padding: 0;
    color:#666;
    text-shadow: 1px 1px 0px #fff;
    margin: 10px;
  }

  li {
    padding: 0.6em;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    cursor: pointer;
    background: #fff;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
  }

  a, a:hover, a:visited {
    text-decoration: none;
    color: #333;
  }

}
